@font-face {
    font-family: 'Baldur';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://raw.githubusercontent.com/rowanrooks/webfont-hosting/blob/main/baldur/baldur-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/rowanrooks/webfont-hosting/blob/main/baldur/baldur-webfont.woff') format('woff');
}
